doctype html
html
    head
        title= Title
        link(rel='stylesheet', href='/stylesheets/index.css')

    body
        p(style='white-space:pre;') 
            |   Username: #{userID} 
            |   Role: #{role}
